@page
@model Tech_Talks_Web_App.Pages.Schedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Schedules</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Speaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Sponsor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Discussion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].ScheduledTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sponsor.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discussion.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
